/*
    <COLOR>
    #222222
    #3C3C3C
    #848484
    #DBDBDB
    #FFFFFF
    #FFC400 / #F39C12
*/

html {
    font-size: 10px;
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #3C3C3C;
    height: 100%;
    padding-top: 56px;
}
.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}




/* -- --------------------------- HEADER --------------------------- -- */
#header {
    position: fixed; top:0;
    width: 100%; height: 56px;
    background: #222222;
    overflow: hidden;
    z-index: 999;
}
#header .title {
    padding-left: 24px;
    font-size: 3rem;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 56px;
}
#header .title .sub_title {
    font-weight: 500;
}
#header .title .name {
    font-weight: 100;   
}


/* ---- Scrolled ---- */
#header.fixed {

}
#header.fixed .title {

}
/* -- --------------------------- HEADER --------------------------- -- */




/* -- --------------------------- VISUAL --------------------------- -- */
#visual {
    height: calc(100% - 56px - 96px); 
    min-height: 480px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    cursor: default;
}
#visual .txtEvent {
    font-size: 4.8rem;  
    text-align: center;
    padding-top: 150px;
}
#visual .txtEvent h2 {
    padding-bottom: 16px;   
}
#visual .txtEvent .text-primary {
    color: #F39C12;
}   
/* -- --------------------------- VISUAL --------------------------- -- */




/* -- --------------------------- NAVIGATION --------------------------- -- */
#gnb {
    position: relative;
    width: 100%;
    height: 48px;
    top: 0;
    z-index: 998;
}
#gnb .wrapper {
    height: 100%;   
}
#gnb .list {
    text-align: center;
    font-size: 0;
    height: 100%;
    padding-top: 16px;
    box-sizing: border-box;
}
#gnb .list li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 50px;
}
#gnb .list li:nth-child(2) {
    border-left: 1px solid #DBDBDB;   
    border-right: 1px solid #DBDBDB;   
}
#gnb .list li a {
    display: block;
    padding: 2px 16px;
    color: #848484;
    letter-spacing: 1px;
}   
#gnb .list li a:hover, #gnb .list li a.active {
    color: #222222;
}
/* FIXED */
#gnb.fixed {
    position: fixed;
    top: 56px;
    border-bottom: 1px solid #DBDBDB;
    background: rgba(255,255,255,0.9);
}


.top_btn {
    position: fixed;
    right: 25px; bottom: 105px;
    width: 62px; height: 62px;
    background: #F39C12;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    line-height: 62px;
    text-align: center;
}
/* -- --------------------------- NAVIGATION --------------------------- -- */




/* -- --------------------------- FOOTER --------------------------- -- */
#footer {
    border-top: solid 1px #DBDBDB;
    padding: 50px 0;
    text-align: center;
    letter-spacing: 1px;
}
#footer .sns li {
    display: inline-block;
}
#footer .sns li a {
    display: inline-block;
    margin: 0 10px;
    width: 36px; height: 36px;
    line-height: 39px;
    border: solid 2px #DBDBDB;
    border-radius: 50%;
}
#footer .sns li a i {
    font-size: 1.8rem;
    color: #848484;   
}
#footer .sns li a:hover {
    background: #DBDBDB;   
}
#footer .sns li a:hover i {

}

#footer .copyright {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #848484;
}
#footer .copyright .writer {
    font-weight: 500;
}
#footer .version {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #F39C12;  
}









