


/* ---------------------------- * TABLET * ---------------------------- */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    
    html { font-size: ; }
    
    /* ------------------ * HEADER * ------------------ */

    
    /* ------------------ * MAIN * ------------------ */   

    
    /* ------------------ * FOOTER * ------------------ */
    
}
/* ---------------------------- * TABLET * ---------------------------- */




/* ---------------------------- * MOBILE * ---------------------------- */
@media screen and (max-width: 768px) {
    
    html { font-size: ; }
 
    /* ------------------ * HEADER * ------------------ */
    #header {
        
    }
    #header .title {
        padding-left: 0;
        font-size: 3.0rem;
        text-align: center;
    }
    #header .title .sub_title {
        display: none;
    }
    #header .title .name {
        font-weight: 500;   
    }

    
    /* ------------------ * MAIN * ------------------ */  
    .top_btn { 
        display: none;
    }
    #main .gnb {
        padding-left: 16px;   
    }
    .contents .list {
        display: none;
    }

    .contents .detail {
        width: 100%;
        float: none;
        clear: both;
        padding: 16px 16px 64px; 
    }
    .contents .detail .summary {
        width: 100%;
    }
    .contents .detail .image img {
        width: 100%;   
    }
    .contents .detail .image img.halfSize {
        width: 100%;   
    }
    .contents .detail .image .desc {
        width: 100%;
    }


    
    /* ------------------ * FOOTER * ------------------ */
    #footer {
        font-size: 1.5rem;
        padding: 30px 0;
    }
    #footer .sns li a {
        width: 27px; height: 27px;
        line-height: 28px;
        border-width: 1px;
        margin: 0 7px;
        background: #DBDBDB;
    }
    #footer .sns li a i {
        font-size: 1.5rem; 
        color: #fff;
    }
    #footer .writer {
        display: block;
        margin-top: 5px;
    }
}
/* ---------------------------- * MOBILE * ---------------------------- */









