
html {
    font-size: 10px;
    height: 100%;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
    color: #444;
    height: 100%;
}
.wrapper {
    position: relative;
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

/* -- --------------------------- header --------------------------- -- */
#header {
    position: fixed;
    width: 100%;
    height: 72px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    z-index: 999;
    color: #FFF;
}
#header .wrapper {
    padding: 0 5%;
}
#header .logo {
    float: left;
    height: 72px;
    padding: 12px 0% 16px 5%;
    box-sizing: border-box;
}
#header .logo img {
    height: 100%;
}
#header .gnb {
    float: right;
    margin-right: 24px;
} 
#header .gnb ul > li {
    float: left;
}  
#header .gnb ul > li > a {
    display: block;
    height: 72px;
    padding: 32px 24px 0 24px;;
    box-sizing: border-box;
    font-family: 'sangsang_body_L';
    font-size: 2.0rem;
    text-align: center;
}
#header .gnb li a:hover {
    color: #069cd9; 
}


#header .util_top {
    float: right;   
}
#header .util_top .go_lang a {
    display: block;
    height: 72px;
    box-sizing: border-box;
    padding: 32px 12px 0 12px;
    font-size: 1.6rem;
}
#header .util_top .go_lang a i {
    margin-left: 8px;
}
#header .util_top .go_lang.on a i {
    transform: rotate(180deg);
}
#header .util_top .list_lang {
    background: rgba(255,255,255, 0.75);
    width: 100%;
}


#header .util_top .list_lang > ul > li {
    text-align: center;
    padding: 16px 0;
    color: #222;
}
#header .util_top .list_lang > ul > li:hover {
    background: rgba(255,255,255,1);   
}

/* FIXED */
#header.fixed {
    background: rgba(255,255,255,0.95);
    color: #222;
    height: 56px;
}
#header.fixed .logo {
    height: 56px;
    padding: 10px 0% 12px 5%;
}
#header.fixed .gnb ul > li > a {
    height: 56px;
    padding: 24px 24px 0 24px;
}

#header.fixed .util_top .go_lang a {
    height: 56px;
    padding: 24px 12px 0 12px;
}
#header, #header .logo, #header .gnb ul > li > a, #header .util_top .go_lang a, #header .util_top .go_lang a i {
    transition: all, 0.25s;
}




/* -- --------------------------- footer --------------------------- -- */
#footer {
    position: relative;
    border-top: solid 1px #ddd;
    padding-bottom: 5px;
}
#footer .wrapper {
    padding: 0 5%;
}
#footer .relations {
    height: 50px;
    background: rgb(35, 35, 35);
    border-bottom: 1px solid #444;
}
#footer .relations .sns {
    float: left;
    height: 100%;
    overflow: hidden;
}
#footer .relations .sns li {
    display: inline-block;
}
#footer .relations .sns li a {
    display: block;
    padding: 0 20px;
    font-size: 2.0rem;
    line-height: 50px;
    color: #888;
}
#footer .relations .family_btn {
    float: right;
    height: 100%;
    padding: 0 40px 0 20px;
    line-height: 45px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    background: url(../images/btn/icon_plus_white.png) no-repeat right center;
    background-position: 90% 45%;
    background-size: 12px;
}
#footer .relations .family_btn.on {
    background-color: rgba(25, 25 , 25, 1);
    background-image: url(../images/btn/icon_minus_white.png);
}

#footer .family {
    background: rgba(25, 25 , 25, 1);   
    overflow: hidden;
    padding: 40px 0 60px;
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 100%;
}
#footer .family ul {
    float: left;
    width: 20%;
}
#footer .family ul .sort {
    font-size: 1.4rem;
    color: #888;
    margin-bottom: 20px;
}
#footer .family ul .company {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 10px;
}
#footer .family ul .company a {
    background: url(../images/btn/icon_link_white.png) no-repeat right center;
    background-size: 15px;
    padding-right: 30px;
}

#footer .info {
    padding: 25px 0;
    overflow: hidden;
    background: rgb(35, 35, 35);
}
#footer .info .logo {
    width: 20%;   
    display: inline-block;
}
#footer .info .logo img {
    width: 80px;   
}
#footer .info .txt {
    float: right;
    width: 80%;
    
}
#footer .info .txt .legal {
    margin-bottom: 60px;
}
#footer .info .txt .legal li {
    float: left;
    margin-right: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #bbb;
}
#footer .info .txt .legal li:first-child {
    color: rgb(6, 156, 219);   
}
#footer .info .txt .basic {
    overflow: hidden;
    margin-bottom: 20px;
}
#footer .info .txt .basic li {
    float: left;
    position: relative;
    width: 45%;   
    font-size: 1.3rem;
    margin-bottom: 15px;
}
#footer .info .txt .basic li .ask {
    color: #888;  
}
#footer .info .txt .basic li .ans {
    color: #bbb;   
    position: absolute;
    left: 40%;
}
#footer .info .txt .copyright {
    font-size: 1.2rem;
    color: #888;  
}









