
/* ---------------------------- * TABLET * ---------------------------- */

@media screen and (max-width: 1024px) {
    html { font-size: ; }
    .wrapper { 
        width: 100%; 
        max-width: 1024px;
        min-width: 840px;
    }
    /* ------------------ * HEADER * ------------------ */
    #header .logo {
        
    }
    #header .logo img {
        
    }
    #header .gnb {
        
    }
    #header .gnb li {
    
    }  
    
    
    /* ------------------ * MAIN * ------------------ */  
    #intro {
        height: 100%
    }
    #intro .txt {
        margin-left: 5%;
    }   
    #intro .contents ul li img {
        width: 300px;
    }
    #intro .contents ul li:nth-child(1) p {
        top: 55px; left: 60px;
    }
    #intro .contents ul li:nth-child(2) p {
        top: 35px; right: 70px;
    }
    #intro .contents ul li:nth-child(3) p {
        top: 55px; left: 60px;
    }
    
    
    #news{
        height: auto;
    }
    #news .visual {
        height: 350px;
    }
    #news .contents {
        position: relative;
        overflow: hidden;
    }
    #news .contents ul {
        margin: 0 auto;
    }
    #news .contents ul li {
        width: 31%;
        margin: 0 1%;
    }
    #news .contents .more_btn {
        position: relative;
        float: right;
        margin: 40px 5% 20px 0;
    }
    
    
    #csv {
        height: auto;   
        padding-top: 50px;
    }
    #csv .txt {
        position: relative;
        transform: none;
        top: 0%;
    }
    #csv .contents {
        position: relative;
        transform: none;
        margin: 50px auto;
        width: 80%;
        top: 0%; right: 0%;
    }
    
    
    #recruit {
        height: auto;
    }
    #recruit .txt {
        padding: 50px 0 50px 10%;   
    }
    #recruit .contents {
        position: relative;
        width: 90%;
        margin-bottom: 50px;
    }
    #recruit .title {
        margin: 0 auto;   
    }
    #recruit .contents .title .announce {
        margin-left: 1%;
        float: none;
    }
    #recruit .contents .title .announce li:first-child {
        width: 100%;
        box-sizing: border-box;
    }
    #recruit .contents .title .menu {
        float: right;
        display: inline-block;
    }
    #recruit .contents .title .menu li {
        float: none;
        display: inline-block;
    }
    #recruit .contents .desc {
        margin-top: 2px;
        overflow: hidden;
    }
    #recruit .contents .desc ul li {
        float: left; 
        width: 48%;
        padding: 1%;
    }
    #recruit .contents .title .menu li:nth-child(1) a {
        border-left: 0;
    }
    #recruit .contents .more_btn {
        
    }

    /* ------------------ * FOOTER * ------------------ */
    #footer {

    }
  
}




/* ---------------------------- * MOBILE * ---------------------------- */

@media screen and (max-width: 840px) {
    
    html { font-size: 9px; }
    .wrapper { 
        width: 100%; 
        max-width: 840px;
        min-width: 360px;
    }
    /* ------------------ * HEADER * ------------------ */
    #header .gnb {
        display: none;
    }
    
    /* ------------------ * MAIN * ------------------ */   
    #intro {
        height: auto;
    }
    #intro .txt {
        position: relative;
        transform: none;
        padding-top: 50px;
        margin-left: 10%;
    }
    #intro .contents {
        position: relative;
        transform: none;
        margin: 50px auto;
    }
    
    
    #news .visual {
        height: 300px;
    }
    #news .contents ul {
        margin: 0 auto;
    }
    #news .contents ul li {
        width: 60%;
        float: none;
        margin: 15px auto 0 auto;
    }
    #news .contents .more_btn {
        float: none;
        margin: 50px auto;
        text-align: center;
    }
    
    
    #csv .contents {
        width: 80%;
    }
    #csv .contents li {
        width: 100%;   
    }
    
    
    #recruit .contents .title .announce {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    #recruit .contents .title .announce li {
        width: 20%;
        height: 84px;
        float: none;
        display: inline-block;
    }
    #recruit .contents .title .announce li:first-child {
        margin: 0;
    }
    #recruit .contents .title .menu {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    #recruit .contents .title .menu li {
        float: none;
        display: inline-block;
        width: 30%;
        height: 84px;
    }
    #recruit .contents .desc ul li {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    #recruit .contents .more_btn {
        position: relative;
        margin: 30px auto 0;
        text-align: center;
    }
    
    
    /* ------------------ * FOOTER * ------------------ */
    #footer .relations {
        height: auto;   
    }
    #footer .relations .sns {
        float: none;
        text-align: center;
    }
    #footer .relations .family_btn {
        float: none;
        width: 200px;
        margin: 0 auto;
    }
    #footer .info .logo {
        position: absolute;
        text-align: center;
        width: 40%;
    }
    #footer .info .txt {
        float: none;
        width: 100%;
    }
    #footer .info .txt .legal {
        margin-top: 20px;   
        margin-bottom: 40px;
        width: 50%;
        margin-left: 50%;  
    }
    #footer .info .txt .legal li {
        float: none;
        text-align: ;
        margin-bottom: 10px;
    }
    #footer .info .txt .basic li {
        float: none;
        width: 80%;
        margin-left: 20%;
    }
    #footer .info .txt .copyright {
        text-align: center;
    }
    
}





